<div th:fragment="main-art-component" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:replace="main-arts-slider-component :: slides"></div>
    <div class="header-container">
        <a th:replace="site-logo :: site-logo"></a>
        <div th:replace="art-type-navigation :: art-type-navigation"></div>
        <div th:replace="site-navigation :: site-navigation"></div>
    </div>
    <div class="footer-container">
        <span th:replace="rights :: rights"></span>
        <a onmouseover="onViewLinkHover(this)" onmouseout="onViewLinkHoverOut()" class="view-link">View</a>
        <div th:replace="social-buttons :: social-buttons"></div>
    </div>
</div>