<div class="main-art-component" th:fragment="main-art-component" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:replace="/fragment/main-arts-slider-fragment :: slides"></div>
    <div class="header-container">
        <a th:replace="/fragment/site-logo-fragment :: site-logo"></a>
        <div th:replace="/fragment/art-type-navigation-fragment :: art-type-navigation"></div>
        <div th:replace="/fragment/site-navigation-fragment :: site-navigation"></div>
    </div>
    <div class="footer-container">
        <span th:replace="/fragment/rights-fragment :: rights"></span>
        <a onmouseover="onViewLinkHover(this)" onmouseout="onViewLinkHoverOut()" class="view-link">View</a>
        <div th:replace="/fragment/social-buttons-fragment :: social-buttons"></div>
    </div>
</div>