<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main-arts.css"/>
    <link rel="stylesheet" href="/css/slider.css">
</head>
<body>

<div th:replace="main-arts-slider-component :: slides"></div>
<div class="header-container">
    <a th:replace="site-logo :: site-logo"></a>
    <div th:replace="art-type-navigation :: art-type-navigation"></div>
    <div th:replace="site-navigation :: site-navigation"></div>
</div>
<div class="footer-container">
    <span th:replace="rights :: rights"></span>
    <a class="view-link">View</a>

</div>


<script src="/js/slider.js"></script>
<script src="/js/main-arts.js"></script>
</body>
</html>