<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/preload.css">

    <link rel="stylesheet" href="/css/main-arts.css"/>
    <link rel="stylesheet" href="/css/slider.css">

</head>
<body class="full-page">

    <!-- vz preload animation part -->
    <div id="preload-logo-container">
        <img id="preload-animation" src="/img/load.gif">
    </div>
    <!--<div id="preload-art-container" th:style="'background-image:url(' + ${imagePath} + ');'"></div>-->
    <!-- vz preload text part-->
    <div id="preload-text-container">
        <h1 id="preload-owner-name">Vlad Zvarun</h1>
        <h3 id="preload-profession"></h3>
        <span id="preload-link" onclick="onStartLinkClick()">START</span>
    </div>

    <!--After preload content, header and footer containers are hidden on preload-->
    <div class="header-container" style="display: none">
        <a th:replace="/fragment/site-logo-fragment :: site-logo"></a>
        <div th:replace="/fragment/art-type-navigation-fragment :: art-type-navigation"></div>
        <div th:replace="/fragment/site-navigation-fragment :: site-navigation"></div>
    </div>

    <!--Art container-->
    <div class="slides" th:insert="/fragment/main-arts-slider-fragment"></div>

    <div class="footer-container" style="display: none;">
        <span th:replace="/fragment/rights-fragment :: rights"></span>
        <a onmouseover="onViewLinkHover(this)" onmouseout="onViewLinkHoverOut()" class="view-link">View</a>
        <div th:replace="/fragment/social-buttons-fragment :: social-buttons"></div>
    </div>

<script src="/js/slider.js"></script>
<script src="/js/main-arts.js"></script>
<script src="/js/link-animation.js"></script>

</body>
</html>