@import "style";

body {
  opacity: 0;
  background-color: black !important;
  overflow: hidden !important;
}

.navbar{
  background-color: black;
}

.art-navigation-arrow-container {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 100;
}

.left-button, .right-button {
  display: inline-block;
  text-decoration: none;
  color: black !important;
}

.left-button {
  float: left;
  margin-left: 5px;
  &:hover .prev-art {
    color: $selected-color;
    text-decoration: none;
    transform: translateX(0);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
  }
}

.right-button {
  float: right;
  margin-right: 5px;
  &:hover .next-art {
    color: $selected-color;
    text-decoration: none;
    transform: translateX(0);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
  }
}

.prev-art {
  display: inline-block;
  transform: translateX(-200%);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  text-decoration: none;
  vertical-align: top;
}

.next-art {
  display: inline-block;
  transform: translateX(200%);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  text-decoration: none;
  vertical-align: top;
}

a svg .arrow {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.description-container {
  top: 200px;
  color: white;
  font-family: Arapey-Regular;
}

.img-row{
  height: 100%;
}

.img-container {
  top: 150px;
  height: 100%;
  overflow-y: auto;
}

.img {
  height: 350px;
  padding: 50px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}


.images-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.img-modal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.image-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
