@import "style";

.type-link-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;

  &:before {
    content: '';
    width: 5vw;
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    right: 105%;
  }
  &:after {
    content: '';
    width: 5vw;
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 105%;
  }
}

.type-link {
  font-family: Arapey-Regular;
  color: white;
  transition: color 1s ease;
  text-decoration: none;
  font-size: calc(.5vw + .5vh + .2vmin);

  &:hover {
    color: $selected-color;
  }

}

.header-container {
  top: 0;
  position: fixed;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100px;
  animation: load-fadein 2s ease;
}

.footer-container {
  bottom: 0;
  position: fixed;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100px;
  animation: load-fadein 2s ease;
}

.view-link {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  transition: all 1s ease;
  text-decoration: none;
  font-size: calc(.6vw + .6vh + .2vmin);
  font-family: Arapey-Regular;

  &:hover {
    color: $selected-color;
  }
}

.slide {
  background: no-repeat center;
  background-size: cover;
}

.art-name {
  position: absolute;
  bottom: 20%;
  font-size: 6vh;
  color: white;
  font-family: Arapey-Italic;
  left: 0;
  transform: translateX(-101%);
  transition: all .3s ease;
}

.slider__indicators{
  animation: load-fadein 2s ease;
}

.main-art-component{
  height:100%;
}

@keyframes load-fadein {
  from{opacity: 0;}
  to{opacity: 1;}
}