@import "style";

.transparent-nav {
  background-color: rgba(0, 0, 0, 0) !important;
}

.type-link-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;

  &:before {
    content: '';
    width: 5vw;
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    right: 105%;
  }
  &:after {
    content: '';
    width: 5vw;
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 105%;
  }
}

.type-link {
  font-family: Arapey-Regular;
  color: white;
  transition: color 1s ease;
  text-decoration: none;
  font-size: calc(1.2vh + .7vw);
  cursor: pointer;

  &:hover {
    color: $selected-color;
  }

}

.header-container {
  top: 0;
  position: fixed;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100px;
  animation: load-fadein 2s ease;
  z-index: 999;
}

.footer-container {
  bottom: 0;
  position: fixed;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100px;
  animation: load-fadein 2s ease;
  z-index: 999;
}

.view-link {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white !important;
  transition: all 1s ease;
  text-decoration: none !important;
  font-size: calc(.6vw + .6vh + .2vmin);
  font-family: Arapey-Regular;

  &:hover {
    color: $selected-color !important;
  }
}

.slides {
  height: 100%;
  filter: grayscale(100%);
  transition: filter 2s ease, opacity 1s ease;
  opacity: 1;
}

.slide {
  height: 100%;
}

.slide-img-container {
  background: no-repeat center;
  background-size: cover;
  height: 100%;
}

.art-name {
  position: absolute;
  bottom: 20%;
  font-size: 6vh;
  color: white;
  font-family: Arapey-Italic;
  left: 0;
  transform: translateX(-101%);
  transition: all .3s ease;
}

.main-art-component {
  height: 100%;
}

@keyframes load-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fp-nav ul li a {
  color: white;
  font-family: Arapey-Regular;
  text-decoration: none;
}

@media screen and (max-width: 992px) {

  .type-link-container:before, .type-link-container:after {
    visibility: hidden;
  }

  .rights{
    display: none;
  }

  .footer-container{
    display: none;
  }

}